<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85410628037-d3kb720lma26753rhj0fad4k7g3beca4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85410628037-d3kb720lma26753rhj0fad4k7g3beca4</string>
	<key>API_KEY</key>
	<string>AIzaSyBcm9SgCP7yNaAkEuBhHvL2KG3NVqSjIjo</string>
	<key>GCM_SENDER_ID</key>
	<string>85410628037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.gon125.ios.TripStory</string>
	<key>PROJECT_ID</key>
	<string>trip-story-df38e</string>
	<key>STORAGE_BUCKET</key>
	<string>trip-story-df38e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85410628037:ios:88d241e12ad0a1ffd54bac</string>
</dict>
</plist>